header{
    background-color: rgb(54, 53, 53);
    height: 80px;
}

h2 a{
    font-size: 45px;
    margin-left: 200px;
    text-decoration: none;
    color: white;
}

ul {
    margin-right: 80px;
    text-align: right;
}

li {
    list-style: none; 
    display: inline;
}

li a {
    list-style: none; 
    padding: 10px 10px; 
    margin:0;
    text-decoration: none;
    color:#FFF;
}

div.left {
    width: 38%;
    display: inline-block;
    padding: 0vw 0vw 0vw 0vw;
    min-width:40vw;
}

div.right {
    width: 38%;
    display: inline-block;
    margin-right: 0vw;
    padding: 1vw 0vw 1vw 0vw;
    min-width:40vw;
    float:right;
}

div.main{
    width:1400px;
    height:380px;
    background-image: url("images/bg-intro.jpg");
    vertical-align: middle;
    display: table-cell;
    min-height: 10em;
}

h1{
    color: white;
    text-align: center;
    font-size: 46px;
}

h3{
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

nav{
    align-items: center;
    margin-left: 200px;
}

h4{
    text-align: center;
    font-size: 40px;
    color: rgb(54, 53, 53);
}

div.box{
    display: inline-block;
    width: 500px;
}

figcaption{
    background-color: rgb(54, 53, 53);
    width: 200px;
    font-size: 40px;
    color: white;
    font-style: italic;
    text-align: center;
}

p{
    font-size: 20px;
    font-style: italic;
    width: 450px;
    text-align: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}